
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

*{
    font-family: 'Manrope', sans-serif; 
}


  .body-bg{
    background-image: linear-gradient(to bottom right,  #002853 ,#040C18, #040C18  );
    
    

}
.s1{
    color: #FFFFFF;
}



.navbar{ 
    font-size: 18px;
    color: #fff;
    
}

.btn-page
{
    display: flex;
    padding-left: 5%;
}

.btn21{
   
width: 152px;
height: 58px;
margin-left: 8%;


background: #FF4820;
border-radius: 5px;
}
.btn22{
    outline: none;
    border: 0;
    box-shadow: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Manrope';
    background-color: transparent;
    width: 120px;

}


.head-item{
    font-size: 62px;
    font-weight: 800;
    background-image: linear-gradient(to right, #AE67FA , #F49867 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.para-item{
    color:#81AFDD;
    margin-top: 3%;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}
.sttp{
    display: flex;
   
}

.btn1{
    outline: none;
    border: none;
/* width: 400px; */
/* height: 63px; */
padding: 15px 117px;
left: 0px;
text-align: center;
background: #052D56;
border-radius: 5px;
}
.btn2{
    outline: none;
    border: none;
    position: absolute;
/* width: 164px;
height: 63px; */
padding: 15px 20px;
left: 390px;
background: #FF4820;
border-radius: 5px;
}
    
.head-image{
    width: 160%;
}

.stephn{
    display: flex;
    position: absolute;
    margin-top: 10%;
}
.img-line{
    width: 100%;
    left: 18%;
   
}

.company-logo{
    margin-top: 3%;
    text-align: center; 
}

.asa{
    padding: 40px 40px;
}

.page-2{
    padding: 40px 40px;  
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    background-image: linear-gradient(to right, #AE67FA, #F49867);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.stee{
    font-size: 14px;
    color: #FF8A71 !important;

}
.ima{
    padding: 5px 40px;
}
.abc{
    text-align: left;
    font-size: 12px;
}
.section-spaw{
    margin-top: 15%;
}
.section-spaw h3{
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 30px;
    /* line-height: 45px; */
    background-image: linear-gradient(to right, purple, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sch{
   
    font-size: 16px;
    font-weight: 500;
    color: #FF8A71;
}
.sool{
    
    font-size: 14px;
    font-weight: 500;
    color: #81AFDD;
}
.sky{
    margin-top: 5%;
    margin-bottom: 7%;
}

.section-step{
    margin-top: 10%;

height: 600px;
top: 800px;
color: #fff;
background-color: #093468;
}
.section-step p{
    padding: 40px 40px;
    text-align: left;
    color: #81AFDD;
}

.img-width{
    width: 100%;
}


.page-1{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #71E5FF;
    margin-top: 150px;
    padding-left: 30px;

}
.page-4{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #81AFDD;
    padding-left: 30px;
   
    
}
.page-3{
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF8A71;
    padding-left: 30px;
   
}
.paggy{
    
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 30px;
    background-image: linear-gradient(to right, #AE67FA, #F49867);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   

}   

.section-spar{
    background-image: linear-gradient(to right, #AE67FA, #F49867);
    margin-top: 10%;
    border-radius: 15px;
    padding-bottom: 30px;
}
.section-spar h3{
  
     font-size: 20px;
     font-weight: 800;
     letter-spacing: 0em;
     color: #000;
     padding-left: 20px;
}
.section-spar p{
    font-family: "Manrope";
    font-size: 12px;
    font-weight: 500;
    color: #0E0E0E;
    padding-left: 20px;
    margin-top: 5%;
}
.btn-spar{

   margin-top: 15%;
   color: #fff;
   background: #000000;
   border-radius: 40px;
   padding: 15px 35px;
   outline: none;
   border: none;
}
       
 


@media screen and (max-width: 650px) {
    .head-image{
        width: 100%;
        margin-top: 27%;
    } 
    .sttp{
        display: block;
        text-align: center;
       
    }
    .btn-page{
        padding: 0;
    }
    .btn22{
        width: 70px;
    }
    .btn21{
        margin-left: 0%;
    }
    .btn2{
        /* margin-left: 3% !important; */
        display: none;
        
    }
    .qweer{
        width: 100%;
    }
    .section-step{
        margin-top: 10%;
    
    height: 1600px !important;
    top: 800px;
    color: #fff;
    background-color: #093468;
    align-items: center;
    }

    .btn-spar{
        margin-top: auto;
    }
    .section-spar{
        text-align: center;
    }
    .alone{
        text-align: center;
        font-size: 27px !important;
        
    }
    .fot-tab{
        width: 70%;
    }
    .seki{
        height: 500.16px !important;
    }
   

}


@media screen and (min-width: 768px) and (max-width: 1023px){
    .head-image{
        width: 80%;
        margin-top: 5%;
        margin-left: 8%;
    }
    .img-line{
        margin-top: 3%;
    }
    .section-step{
        height: 90vh;
    }
    .section-step p{
        padding: 10px 10px;
        margin-top: 0%;
        margin-bottom: auto;
    }
    .asa, .ima{
        padding: 10px;
    }
    .page-2{
        text-align: center;
        padding: 0%;
    }
    .img-width{
        width: 70%;
        margin-left: 10%;
    }
    .page-1{
        margin-top: 10%;
        text-align: center;
    }
    .paggy, .page-4, .page-3{
        text-align: center;
    }
    .btn-spar{
        margin-top: 0%;
        
    }
    .section-spar{
        text-align: center;
    }
    .container{
        max-width: 600px;
    }
    .alone{
        text-align: center;
        font-size: 30px !important;
    }
    .seki, .sek-img{
        width: 70% !important;
    }
    .fot-tab{
        text-align: center;
    }
    .scity{
        display: flex;
    }
    
    /* .linebreak{
        display: none;
    } */

    .line-break{
        display: none
    }
    /* linebreak{   
      display: none;
    } */
    
    
}
/* @media screen and (min-width: 1024px) and (max-width: 1400px)  */
.alone{
    
    font-size: 43px;
    font-weight: 800;
    background-image: linear-gradient(to right, #AE67FA, #F49867);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10%;
}




.seki{
height: 705.16px;
width: 100%;

}


.sek-img{
    width: 100%;
}

.page-foot{
    background-color:  #031B34;
    text-align: center;
}

.footer-para{
    
    font-size: 43px;
    font-weight: 800;
    background-image: linear-gradient(to right, #AE67FA, #F49867);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 100px;
    padding-bottom: 20px;
}
.footer-btn{
    margin-bottom: 10%;
    background: #031B34;
    color: #fff;
    border: 1px solid #FFFFFF;
    padding: 10px 10px;
    font-size: 14px;
}
.footie{
    color: #fff;
    margin-top: 5%;
    margin-bottom: 8%;
}
.footie-para{
    font-weight: 800;
    font-size: 30px;
    margin-left: 8%;
}
.ada{
    color: #fff;  
}
.lasty{
    list-style: none !important;
    color: #fff;
    text-align: left;
}
.list {
    margin-top: 5%;
    
}

